<?php

return [
    'components' => [
        'db' => [
            'dsn' => 'mysql:host=localhost;dbname={{ db_name }}',
            'username' => '{{ db_user }}',
            'password' => '{{ db_password }}',
        ],
        'mailer' => [
            'useFileTransport' => true,
        ],
        'geocoder' => [
            'apiKey' => 'AIzaSyC-1O-iXI7T0Sn8n3J4wcbwdcWvYY8ZEnA',
        ],
        'redis' => [
            'hostname' => 'localhost',
        ],
    ],
    'params' =>[
        'image_secret' => '{{ image_secret }}',
         'googleMapsApiKey' => 'AIzaSyC7URarfAvI2CglvI_VOLOMAaLzXhmxI8g',
    ],
];
