$fa-font-path: "../fonts";

// bootstrap
@import "~bootstrap/scss/bootstrap";

// bootstrap-select
@import "~bootstrap-select/sass/bootstrap-select";

// fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

// content
@import "content/_hotel";
@import "content/_phoneList";
@import "content/_imageList";


body, .btn, .form-control {
  font-size: 0.875rem;
}

.btn {
  &-page {
    font-size: 1rem;
  }
}

.nav-link {
  color: #007bff;
  cursor: pointer;

  &.active {
    color: #495057;
  }
}