<script>
	import { Tabs, TabList, TabPanel, Tab } from './tabs/tabs.js';
</script>

<Tabs>
	<TabList>
		<Tab>Информация</Tab>
		<Tab>Фотографии</Tab>
		<Tab>Комнаты</Tab>
	</TabList>

	<TabPanel>
		Информация
	</TabPanel>
	<TabPanel>
		Фотографии
	</TabPanel>
	<TabPanel>
		Комнаты
	</TabPanel>
</Tabs>