<script>
    import {getCsrfParam, getCsrfToken, showError} from "./utils";

    export let images = [];
    export let formName;

    function array_remove_item(a, i) {
        a.splice(i, 1);
        return a;
    }

    function array_push(a, i) {
        a.push(i);
        return a;
    }

    function handlerDelete(i) {
        images = array_remove_item(images, i);
    }

    function addImages() {
        const fileInput = jQuery("<input type=\"file\" accept=\"image/*\" multiple>");
        fileInput.on("change", e => {
            let st = [];
            for (let f of e.currentTarget.files) {
                const formData = new FormData();
                formData.append("file", f);
                formData.append(getCsrfParam(), getCsrfToken());
                formData.append('width', "240");
                formData.append('height', "160");
                const p = jQuery.ajax({
                    url: "/site/upload",
                    type: "post",
                    contentType: false,
                    processData: false,
                    data: formData,
                }).done(r => {
                    if (r.success) {
                        images = array_push(images, r.model);
                    }
                }).fail(e => showError(e));
                st.push(p);
            }
            jQuery.when(...st).always(() => fileInput.remove());
        }).click();
    }
</script>

<div class="row">
    {#each images as image, i}
        <div class="col-6 col-md-4 col-lg-3 mb-3 image-list-col">
            <div class="border rounded shadow-sm">
                <img src="{image.url}" alt="">
                <input type="hidden" name="{formName}[image_list][{i}]" value="{image.id}">
                <button on:click|preventDefault={() => handlerDelete(i) } class="btn-danger image-list-delete"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>
    {/each}
    <div class="col-6 col-md-4 col-lg-3 mb-3 image-list-add">
        <div class="border rounded shadow-sm">
            <img src="" alt="">
            <button on:click|preventDefault={addImages} type="button">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd"
                          d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>
                <span>Добавить</span>
            </button>
        </div>
    </div>
</div>