<script>
    export let phones = [];
    export let formName;

    function array_remove_item(a, i) {
        a.splice(i, 1);
        return a;
    }

    function array_push(a, i) {
        a.push(i);
        return a;
    }

    function handlerDelete(i) {
        phones = array_remove_item(phones, i);
    }

    function handlerAdd() {
        phones = array_push(phones, '');
    }
</script>

<div class="d-inline-flex flex-column position-relative">
    {#each phones as phone, i}
        <div class="d-flex mb-3 pr-3">
            <input type="text" name="{formName}[phone_list][{i}]" value="{phone}" class="form-control input-sm phone-list-input">
            <button on:click|preventDefault={() => handlerDelete(i) } class="btn btn-sm btn-danger ml-3 phone-list-delete"><span aria-hidden="true">&times;</span></button>
        </div>
    {/each}
    <button class="btn btn-sm btn-primary phone-list-btn" on:click|preventDefault={handlerAdd}>Добавить</button>
</div>