<script>
	import { getContext } from 'svelte';
	import { TABS } from './Tabs.svelte';

	const tab = {};
	const { registerTab, selectTab, selectedTab } = getContext(TABS);

	registerTab(tab);
</script>

<li class="nav-item">
	<div class:active="{$selectedTab === tab}" on:click="{() => selectTab(tab)}" class="nav-link">
		<slot></slot>
	</div>
</li>