#!/bin/sh

rsync --size-only -r {{ ansistrano_deploy_to }}/shared/storage/ {{ ansistrano_deploy_to }}/shared/yandex

mysqldump -uroot -p{{ mysql_root_password }} {{ db_name }} | gzip -c > {{ ansistrano_deploy_to }}/shared/yandex/db-`date +%Y-%m-%d`.sql.gz
