proxy_cache_path /var/cache/nginx/cathotels levels=1:2 keys_zone=kittycat-image-preview:100m;

server {
    listen 18888;

    secure_link_secret {{ image_secret }};

    if ($secure_link = "") {
        return 403;
    }

    image_filter_buffer 16M;
    image_filter_interlace on;
    image_filter_jpeg_quality 80;
    image_filter_transparency on;

    location ~ /r/(\d+|-)/(\d+|-)/(.+) {
        alias {{ ansistrano_release_path.stdout }}/storage/$3;
        try_files "" =404;
        image_filter resize $1 $2;
    }

    location ~ /c/(\d+|-)/(\d+|-)/(.+) {
        alias {{ ansistrano_release_path.stdout }}/storage/$3;
        try_files "" =404;
        image_filter crop $1 $2;
    }
}

server {
    listen 80;
    listen [::]:80;
    server_name cathotels.ru www.cathotels.ru;
    charset utf-8;
    root {{ ansistrano_release_path.stdout }}/frontend/web;

    location /.well-known {
        break;
    }

    location / {
        return 301 https://cathotels.ru$request_uri;
    }
}

server {
    listen       443 ssl http2;
    listen  [::]:443 ssl http2;

    server_name  www.cathotels.ru;
    charset utf-8;
    root {{ ansistrano_release_path.stdout }}/frontend/web;

    ssl_dhparam /etc/ssl/certs/dhparam.pem;

    ssl_session_timeout 1d;
    ssl_session_cache shared:TLS:50m;  # about 40000 sessions
    ssl_session_tickets off;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
    ssl_prefer_server_ciphers off;

    # HSTS (ngx_http_headers_module is required) (63072000 seconds)
    add_header Strict-Transport-Security "max-age=63072000" always;

    # OCSP stapling
    ssl_stapling on;
    ssl_stapling_verify on;

    resolver 8.8.8.8 8.8.4.4 [2001:4860:4860::8888] [2001:4860:4860::8844] valid=300s;
    resolver_timeout 5s;

    ssl_certificate /etc/letsencrypt/live/cathotels.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/cathotels.ru/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/cathotels.ru/fullchain.pem;

    location /.well-known {
        break;
    }

    location / {
        return 301 https://cathotels.ru$request_uri;
    }
}

server {
    listen       443 ssl http2;
    listen  [::]:443 ssl http2;

    server_name  cathotels.ru;
    charset utf-8;
    root {{ ansistrano_release_path.stdout }}/frontend/web;
    index index.php;

    ssl_dhparam /etc/ssl/certs/dhparam.pem;

    ssl_session_timeout 1d;
    ssl_session_cache shared:TLS:50m;  # about 40000 sessions
    ssl_session_tickets off;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
    ssl_prefer_server_ciphers off;

    # HSTS (ngx_http_headers_module is required) (63072000 seconds)
    add_header Strict-Transport-Security "max-age=63072000" always;

    # OCSP stapling
    ssl_stapling on;
    ssl_stapling_verify on;

    resolver 8.8.8.8 8.8.4.4 [2001:4860:4860::8888] [2001:4860:4860::8844] valid=300s;
    resolver_timeout 5s;

    ssl_certificate /etc/letsencrypt/live/cathotels.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/cathotels.ru/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/cathotels.ru/fullchain.pem;

    location /.well-known {
        break;
    }

    location /static {
        root {{ ansistrano_release_path.stdout }}/;
        expires max;
    }

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;

        try_files $fastcgi_script_name =404;

        set $path_info $fastcgi_path_info;
        fastcgi_param PATH_INFO $path_info;

        fastcgi_index index.php;

        include fastcgi.conf;
        fastcgi_pass php-fpm;
    }
}


server {
    listen       443 ssl http2;
    listen  [::]:443 ssl http2;

    server_name  admin.cathotels.ru;
    charset utf-8;
    root {{ ansistrano_release_path.stdout }}/backend/web;
    index index.php;
    client_max_body_size 50m;

    ssl_dhparam /etc/ssl/certs/dhparam.pem;

    ssl_session_timeout 1d;
    ssl_session_cache shared:TLS:50m;  # about 40000 sessions
    ssl_session_tickets off;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
    ssl_prefer_server_ciphers off;

    # HSTS (ngx_http_headers_module is required) (63072000 seconds)
    add_header Strict-Transport-Security "max-age=63072000" always;

    # OCSP stapling
    ssl_stapling on;
    ssl_stapling_verify on;

    resolver 8.8.8.8 8.8.4.4 [2001:4860:4860::8888] [2001:4860:4860::8844] valid=300s;
    resolver_timeout 5s;

    ssl_certificate /etc/letsencrypt/live/cathotels.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/cathotels.ru/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/cathotels.ru/fullchain.pem;

    location /.well-known {
        break;
    }

    location /static {
        root {{ ansistrano_release_path.stdout }}/;
        expires max;
    }

    location /storage {
        root {{ ansistrano_release_path.stdout }}/;
        expires max;
    }

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location /il/ {
        proxy_intercept_errors on;
        proxy_cache kittycat-image-preview;
        proxy_cache_key "$host$document_uri";
        proxy_cache_valid 200 1d;
        proxy_cache_valid any 1m;
        expires max;
        proxy_pass http://localhost:18888;
    }

    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;

        try_files $fastcgi_script_name =404;

        set $path_info $fastcgi_path_info;
        fastcgi_param PATH_INFO $path_info;

        fastcgi_index index.php;

        include fastcgi.conf;
        fastcgi_pass php-fpm;
    }
}
