.hotel-update {
    padding: {
        top: 2rem;
        bottom: 6rem;
    }

    &-nav {
        margin-top: 2rem;
    }

    &-content {
        padding-top: 2rem;
    }

    &-form {
        #js-maps {
            width: 100%;
            height: 270px;
            margin-top: 2rem;
        }
    }
}



