.image-list {
    
    &-col {
        .border {
            position: relative;
            overflow: hidden;
            min-height: 10vw;

            img {
                width: 100%;
            }
        }
    }

    &-delete {
        height: 26px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1rem;
        font-weight: bold;
        box-shadow: none !important;
        outline: none !important;

        span {
            position: relative;
            top: -0.1rem;
        }
    }

    &-add {
        position: relative;

        .border {
            position: relative;
            overflow: hidden;
            min-height: 10vw;

            img {
                width: 100%;
            }
        }

        a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .bi-download {
            flex: none;
            
            path {
                fill: #0069d9;
            }
        }

        span {
            margin-top: 0.5rem;
            font-size: 1rem;
            color: #0069d9;
        }
    }
}