.phone-list {

    .flex-column {
        min-height: 51px;
    }

    .d-flex {
        & + .phone-list-btn {
            position: absolute;
            left: 100%;
            bottom: 1rem;
        }
    }

    &-input {
        width: 296px;

        @include media-breakpoint-down(lg) {
            width: 236px;
        }

        @include media-breakpoint-down(md) {
            width: 156px;
        }
    }

    &-delete {
        span {
            position: relative;
            top: 0.1rem;
            font-size: 1.8rem;
            line-height: 0.5;
        }
    }

    &-btn {
        height: 35px;
        white-space: nowrap;
    }
}